/* Reset CSS */
* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Poppins", sans-serif;
  }
  
  /* Xoa gach chan lien ket */
  a {
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  
  /* Flexbox:  display: flex */
  /* CSS Header */
  header {
    padding-bottom: 72px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 88px;
  }
  
  .logo {
    width: 123px;
    height: 32px;
  }
  .menu-list {
    display: flex;
    gap: 40px;
  }
  
  .menu-link {
    color: #131316;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
  }
  
  .btn-login {
    padding: 12px 24px;
    border-radius: 12px;
    background-color: #f5f5f5;
  }
  
  /* Hero */
  
  .container {
    max-width: 1248px;
    margin: 0 auto;
  }
  
  .hero {
    background-image: url("./images/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 650px;
  }
  
  .title {
    color: #131316;
    font-size: 64px;
    font-weight: 600;
    padding-bottom: 24px;
    max-width: 824px;
    line-height: 110%;
  }
  
  .desc {
    color: #131316;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 40px;
    max-width: 611px;
  }
  
  .btn-group {
    display: flex;
    gap: 16px;
  }
  
  .btn {
    padding: 16px 32px;
    border-radius: 16px;
    border: none;
    font-size: 18px;
    font-weight: 500;
  }
  
  .btn-get {
    background-color: #4891ff;
    color: #fff;
  }
  
  .btn-book {
    background-color: #f5f5f5;
    color: #131316;
  }
  .mau{
    color: #4891ff;
  }
  .text-xxl{
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 40px 0 20px;
  }
  .text-xl{
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 40px 0 20px;
  }
  .text-lg{
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 30px 0 20px;
  }
  .text-md{
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 20px 0 10px;
  }
  .text-sm{
    font-size: 0.9rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 5px 0 10px;
  }
  .text-center{
    text-align: center;
  }
  .hero{
    margin-bottom: 50px;
  }
  .hero .container{
    background: url('./images/hero-bg.png') no-repeat;
    background-size: contain;
    background-position: center bottom;
    height: 550px;
    width: 70%;
  }
  .video{
    padding: 10px 0 40px;
  }
  .video-content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .video-preview{
    margin-bottom: 10px;
  }

  /*testimonials*/
  .testimonials {
    padding: 40px;
  }

  .testimonials .testimonials-heading{
    width: 700px;
  }
  .bg-primary{
    background: var(--primary-color);
    color: #fff;
  }
  .bg-light{
    background: var(--light-color);
    color: #333;
  }
  .bg-dark{
    background: var(--dark-color);
    color: #fff;
  }
  .bg-black{
    background: #000;
    color: #fff;
  }

  /*footer */
  .footer {
    padding: 40px 0;
  }

  .footer h4{
    margin-bottom: 10px;
  }
  .footer ul li{
    line-height: 2.5;
  }
  .footer a{
    color:#ccc;
  }
  footer i{
    font-size: 1.5rem;
    margin-right: 10px;
  }
  .footer-grid {
    display:grid;
    grid-template-columns:2fr 1fr 1fr 1fr ;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }
  .footer .card{
    margin: 20px 30px 30px 0;
  }
  .footer input [type='email'] {
    width:100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px 0;
  }